# Ignore packages installed by npm/node in any dir
**/node_modules/

# Cloudflare Wrangler local state (D1, cache, dev bundles — recreated on `wrangler dev`)
**/.wrangler/

# Ignore hidden macOS files
.DS_Store

# Ignore VS Code configuration files
.vscode/
*.code-workspace

# Local-only notes (not for sharing)
local-*

